<div id="signup-page">
        <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <link rel="stylesheet" href="style.css" type="text/html">
            </head>
        
            <body style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">
                <nav class="transparent z-depth-0">
                    <a href="#" class="brand-logo center">Icebreak-r</a>
                    <ul id="nav-mobile" class="left ">
                        <li><a href="sass.html">Profile</a></li>
                    </ul>
                </nav>
                <div class="container">
                    <h2 class="center" style="color: white;">Sign up</h2>
                    <div class="card-content">
                           
            
                            <!-- <div class="card-title">Group Forum</div> -->
                        </div>
                </div>
                <div class="center" style="margin-left: 50px; margin-right: 50px;">
                    <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons">+</i>
                        <p class="center" h6=""> Randomly select meme icon</p></a>
                    
                    <div class="main-container" style="background: white;">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <form class="col s12">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <textarea id="textarea1" class="materialize-textarea"
                                                            style="height: 45px; left;"></textarea>
                                                        <label for="textarea1">User name</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-action">
                                            <div class="row">
                                                <form class="col s12">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <textarea id="textarea1" class="materialize-textarea"
                                                                style="height: 45px;"></textarea>
                                                            <label for="textarea1">Email</label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            <div class="row">
                                                <div class="row">
                                                    <form class="col s12">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <textarea id="textarea1" class="materialize-textarea"
                                                                    style="height: 45px;"></textarea>
                                                                <label for="textarea1">First Name</label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card">
        
        
                                            <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
                                                <i class="material-icons center"></i>
                                            </button>
                                     
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="hiddendiv common"
                    style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif; line-height: normal; padding: 12px 0px; width: 1824px;">
                    <br></div>
            </body>
        
        </div>