<div id="chat-page">

    <div class="section" id="chat-group">
        {{!-- -------------FROM CHAT--------- --}}
        <div class="row from-chat">

            <div class="col s12 m12">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_zebra.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-stacked">

                        <div class="fixed-action-btn">
                            <a class="btn-floating btn-large red lighten-2">
                                <i class="large material-icons">menu</i>
                            </a>
                            <ul>
                                <li>
                                    <a class="btn-floating blue">
                                        <i class="material-icons">thumb_up</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating yellow darken-1">
                                        <i class="material-icons">message</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green lighten-2">
                                        <i class="material-icons">mail_outline</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating red darken-1">
                                        <i class="material-icons">eject</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{!-- -------------TOO CHAT--------- --}}
        <div class="row too-chat">

            <div class="col s12 m12">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_polar_bear.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        {{!-- -------------FROM CHAT--------- --}}
        <div class="row from-chat">

            <div class="col s12 m12">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_rhyno.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-stacked">

                        <div class="fixed-action-btn">
                            <a class="btn-floating btn-large red">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li>
                                    <a class="btn-floating red">
                                        <i class="material-icons">insert_chart</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating yellow darken-1">
                                        <i class="material-icons">format_quote</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green">
                                        <i class="material-icons">publish</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating blue">
                                        <i class="material-icons">attach_file</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{!-- -------------FROM CHAT--------- --}}
        <div class="row from-chat">

            <div class="col s12 m12">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_panda.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-stacked">

                        <div class="fixed-action-btn">
                            <a class="btn-floating btn-large red">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li>
                                    <a class="btn-floating red">
                                        <i class="material-icons">insert_chart</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating yellow darken-1">
                                        <i class="material-icons">format_quote</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green">
                                        <i class="material-icons">publish</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating blue">
                                        <i class="material-icons">attach_file</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {{!-- -------------FROM CHAT--------- --}}
        <div class="row from-chat">

            <div class="col s12 m12 logged-out">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_tiger.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-stacked">

                        <div class="fixed-action-btn">
                            <a class="btn-floating btn-large red">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li>
                                    <a class="btn-floating red">
                                        <i class="material-icons">insert_chart</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating yellow darken-1">
                                        <i class="material-icons">format_quote</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green">
                                        <i class="material-icons">publish</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating blue">
                                        <i class="material-icons">attach_file</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="chat-input">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Say Something</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            direction: 'left',
            hoverEnabled: false
        });
    });

    //$(document).ready(function () {
    //    $('input#input_text, textarea#textarea2').characterCounter();
    //}); 
</script>