<div id="chat-page">

    <div class="section" id="chat-group">
        {{!-- -------------FROM CHAT--------- --}}
        <div id="hello" class="row from-chat">

            <div class="col s12 m12">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_zebra.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-stacked">

                        <div class="fixed-action-btn">
                            <a class="btn-floating btn-large options-btn">
                                <i class="large material-icons">menu</i>
                            </a>
                            <ul>
                                <li>
                                    <a class="btn-floating blue">
                                        <i class="material-icons">thumb_up</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating yellow darken-1">
                                        <i class="material-icons">message</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green lighten-2">
                                        <i class="material-icons">mail_outline</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating red darken-1">
                                        <i class="material-icons">eject</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{!-- -------------TOO CHAT--------- --}}
        <div class="row too-chat  ">

            <div class="col s12 m12">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_polar_bear.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        {{!-- -------------FROM CHAT--------- --}}
        <div class="row from-chat ">

            <div class="col s12 m12">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_rhyno.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-stacked">

                        <div class="fixed-action-btn">
                            <a class="btn-floating btn-large red">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li>
                                    <a class="btn-floating red">
                                        <i class="material-icons">insert_chart</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating yellow darken-1">
                                        <i class="material-icons">format_quote</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green">
                                        <i class="material-icons">publish</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating blue">
                                        <i class="material-icons">attach_file</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{!-- -------------FROM CHAT--------- --}}
        <div class="row from-chat ">

            <div class="col s12 m12">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_panda.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-stacked">

                        <div class="fixed-action-btn">
                            <a class="btn-floating btn-large red">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li>
                                    <a class="btn-floating red">
                                        <i class="material-icons">insert_chart</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating yellow darken-1">
                                        <i class="material-icons">format_quote</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green">
                                        <i class="material-icons">publish</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating blue">
                                        <i class="material-icons">attach_file</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {{!-- -------------FROM CHAT--------- --}}
      <div class="row from-chat ">

            <div class="col s12 m12 logged-out">
                <span class="time-date">Date and time</span>
                <div class="card horizontal">

                    <div class="card-content">
                        <div class="">
                            <div class="col s3 m3">
                                <div class="card-image">
                                    <img src="images/RandomAnimals_tiger.svg">
                                </div>
                            </div>
                            <div class="col s9 m9">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-stacked">

                        <div class="fixed-action-btn">
                            <a class="btn-floating btn-large red">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li>
                                    <a class="btn-floating red">
                                        <i class="material-icons">insert_chart</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating yellow darken-1">
                                        <i class="material-icons">format_quote</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green">
                                        <i class="material-icons">publish</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating blue">
                                        <i class="material-icons">attach_file</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- recieved Chat -->

    <a id="backButton" class="btn-floating btn-medium waves-effect waves-light blue" style="position:fixed; top: 0; left: 0;  margin-top:1em; margin-left: 1em;"><i
            class="material-icons">arrow_back</i></a>

    <div id="chat-group" style="padding-bottom: 8em;">

       
        <div class="form" style="z-index: 9999;">
            <div class="row" id="chat-input">
                <div class="input-field col s10">
                    <input type="text" id="userMessage" class="autocomplete">
                </div>
                <div class="input-field col s2">
                    <a id="sendMessage"
                        class="btn-floating btn-medium waves-effect waves-light #00e5ff cyan accent-3"><i
                            class="material-icons">message</i></a>
                </div>
              
            </div>
        </div>
       

    </div>
  