<div id="chat-page">

    <div class="container" id="chat-group">

        <div class="row from-chat">

            <div class="col s12 m7">
                <span class="time-date">Horizontal Card</span>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="images/avatar_disc-jockey.png">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>