<div id="login-page" style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180)); height: 100vh;">
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper" style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">
            <!-- <a href="#" class="brand-logo center">Icebreak-r</a>
            <ul id="nav-mobile" class="left ">
                <li><a href="sass.html"></a></li>
            </ul> -->
        </div>
    </nav>
    <div >

        <div class="container">
            <div class="row">
                <div class="center">
                    <img src="images/loginimage.png" class="responsive-img">
                </div>
                <h4 class="center white-text">Sign up and start chatting</h4>
            </div>
            <div class="center">
                <a id="login-btn" class="waves-effect waves-light btn-large white black-text">Google Login</a>
                <div id="preloader" class="preloader-wrapper active hide">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>