<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/html" />
</head>
<nav class="transparent z-depth-0">
        <div class="nav-wrapper" style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">
            <!-- <a href="#" class="brand-logo center">Icebreak-r</a>
            <ul id="nav-mobile" class="left ">
                <li><a href="sass.html"></a></li>
            </ul> -->
        </div>
    </nav>
<body style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">

    <div class="container">
        <div class="row">
            <div class="center">
                <img src="loginimage.png" class="responsive-img">
            </div>
            <h4 class="center white-text">Sign up and start chatting</h4>
        </div>
        <div class="center">
            <a class="waves-effect waves-light btn-large white black-text">Google Login</a>
        </div>
    </div>
</body>

</html>