<div id="chat-page" style="overflow: hidden;  min-height: 100vh">

    <div class="section" id="">


    </div>
    <!-- recieved Chat -->

    <a id="backButton" class="btn-floating btn-medium waves-effect waves-light blue"
        style="position:fixed; top: 0; left: 0;  margin-top:1em; margin-left: 1em;"><i
            class="material-icons">arrow_back</i></a>

    <div id="chat-group" style="padding-bottom: 8em;">
        {{!-- ask jp why this chat-group id is reused here --}}

        <div class="form" style="z-index: 9999;">
            <div class="row" id="chat-input">
                <div class="input-field col s10">
                    <input type="text" id="userMessage" class="autocomplete">
                </div>
                <div class="input-field col s2">
                    <a id="send-private"
                        class="btn-floating btn-medium waves-effect waves-light #00e5ff cyan accent-3"><i
                            class="material-icons">message</i></a>
                </div>

            </div>
        </div>


    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/private.js"></script>
