<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/html" />
</head>
<nav class="transparent z-depth-0">
    <div class="nav-wrapper" style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">
        <div class="row">
            <a href="#" class="brand-logo center"><img class="center" src="disc-jockey.png"
                    class="circle responsive-img"></a>
        </div>
        <ul id="nav-mobile" class="left ">
            <li><a href="#">Menu</a></li>
        </ul>

    </div>
</nav>

<body style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">
    <div class="container">

    </div>
    <div class="main-container" style="background: white;">
        <h2 class="center" style="color: rgb(51, 49, 49);">Funky Munky</h2>
        <h5 class="center" style="color: gray;">LAT: 1234354545 LNG: 1332345</h5>
        <h6 class="center"><a class="center" href="#">Update Account Info</a></h6>
        <div class="row">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card-panel">
                        <div class="card-title center">Messages</div>
                        <img src="diver.png" class="circle responsive-img">
                        <img src="disc-jockey.png" class="circle responsive-img">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <div class="card-panel">
                        <div class="card-title center">Recent Chats</div>
                        <img src="astronaut.png" class="circle responsive-img">
                        <img src="detective.png" class="circle responsive-img">
                        <img src="diver.png" class="circle responsive-img">
                        <img src="disc-jockey.png" class="circle responsive-img">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s6 m6">
                                <img src="group.png" class="circle responsive-img">
                            </div>
                            <div class="row">
                                <div class="col s4 m4">
                                    <div class="card-title">Who is in your current Group?</div>
                                    <p>Today: 1:45pm</p>
                                </div>
                                <div class="col s2 m2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <button class="waves-effect waves-light btn-large"
                style="background: linear-gradient(to right, #FFCD57 ,#FF9857);">Back to current chat</button>
        </div>
    </div>

</body>

</html>