<div id="chat-page">

    <div class="section" id="chat-group">

        {{!-- -------------Incoming question 1--------- --}}
        <div class="row incoming-question">

            <div class="col s12 m12">

                <div class="horizontal">

                    <div class="">
                        <div class="row">
                            <h4>What name do you hear
                                <a class="waves-effect waves-light btn-small">
                                    <i class="material-icons">play_circle_filled</i>
                                </a>
                            </h4>
                            <div class="col s6 m6 center">
                                <h5>"Laurel"</h5>
                                <div>
                                    <div id="questionLaurel" class="laurel guesses s12 m12">
                                        
                                    </div>
                                    <a id="laurel" class="waves-effect waves-light btn q1-btn" value="laurel">vote</a>
                                </div>

                            </div>
                            <div class="col s6 m6 center">
                                <h5>"Yanny"</h5>
                                
                                <div>
                                    <div id="questionYanny" class="yanny guesses s12 m12">


                                    </div>
                                    <a id="yanny" class="waves-effect waves-light btn q1-btn" value="yanny">vote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        {{!-- -------------Incoming question 2--------- --}}
        <div class="row incoming-question">

            <div class="col s12 m12">

                <div class="horizontal">

                    <div class="">
                        <div class="row">
                            <div class="col s12 m12 center">

                                <div class=" guesses s12 m12">
                                    <img src="images/whichBucket.png" class=" responsive-img">

                                </div>
                                <a class="waves-effect waves-light btn q2-btn">a</a>
                                <a class="waves-effect waves-light btn q2-btn">b</a>
                                <a class="waves-effect waves-light btn q2-btn">c</a>
                                <a class="waves-effect waves-light btn q2-btn">d</a>
                                <a class="waves-effect waves-light btn q2-btn">e</a>
                                <a class="waves-effect waves-light btn q2-btn">f</a>
                                <a class="waves-effect waves-light btn q2-btn">g</a>
                                <a class="waves-effect waves-light btn q2-btn">h</a>


                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        {{!-- -------------Incoming question 3--------- --}}
        <div class="row incoming-question">

            <div class="col s12 m12">

                <div class="horizontal">

                    <div class="">
                        <div class="row">
                            <h4>Which licorice do you prefer:
                            </h4>
                            <div class="col s12 m12 center">

                                <div class="licorice guesses s12 m12">
                                    <img src="images/blackorred.png" class=" responsive-img">

                                </div>
                                <a class="waves-effect waves-light btn q3-btn">Black Licorice</a>
                                <a class="waves-effect waves-light btn q3-btn">Red Licorice</a>



                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        {{!-- -------------Incoming question 4--------- --}}
        <div class="row incoming-question">

            <div class="col s12 m12">

                <div class="horizontal">

                    <div class="">
                        <div class="row">
                            <h4>What do you see?!!!
                            </h4>
                            <div class="col s12 m12 center">

                                <div class="licorice guesses s12 m12">
                                    <img src="images/twobatman.png" class=" responsive-img">

                                </div>
                                <a class="waves-effect waves-light btn q4-btn">Wolverine</a>
                                <a class="waves-effect waves-light btn q4-btn">2 Batmen</a>



                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>

    <div id="chat-input">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Say Something</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            direction: 'left',
            hoverEnabled: false
        });
    });

</script>