<div id="chat-page">

    <div class="section" id="chat-group">

        {{!-- -------------Incoming question 1--------- --}}
        <div class="row incoming-question">

            <div class="col s12 m12">

                <div class="horizontal">

                    <div class="">
                        <div class="row">
                            <h4>What sound do you hear
                                <a class="waves-effect waves-light btn-small">
                                    <i class="material-icons">play_circle_filled</i>
                                </a>
                            </h4>
                            <div class="col s6 m6 center">
                                <h5>Laurel</h5>
                                <div>
                                    <div class="laurel guesses s12 m12">
                                        <img src="images/RandomAnimals_panda.svg" class="vote-icon responsive-img">
                                        <img src="images/RandomAnimals_fox.svg" class="vote-icon responsive-img">

                                    </div>
                                    <a class="waves-effect waves-light btn">vote</a>
                                </div>

                            </div>
                            <div class="col s6 m6 center">
                                <h5>Yanny</h5>
                                <div>
                                    <div class="yanny guesses s12 m12">


                                    </div>
                                    <a class="waves-effect waves-light btn">vote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        {{!-- -------------Incoming question 2--------- --}}
        <div class="row incoming-question">

            <div class="col s12 m12">

                <div class="horizontal">

                    <div class="">
                        <div class="row">
                            <h4>First Impression; what color is this dress:
                            </h4>
                            <div class="col s6 m6 center">
                                <h5>Laurel</h5>
                                <div>
                                    <div class="blue-dress guesses s12 m12">
                                        <img src="images/RandomAnimals_panda.svg" class="vote-icon responsive-img">
                                        <img src="images/RandomAnimals_fox.svg" class="vote-icon responsive-img">

                                    </div>
                                    <a class="waves-effect waves-light btn">vote</a>
                                </div>

                            </div>
                            <div class="col s6 m6 center">
                                <h5>Yanny</h5>
                                <div>
                                    <div class="yanny guesses s12 m12">


                                    </div>
                                    <a class="waves-effect waves-light btn">vote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>

    <div id="chat-input">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Say Something</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            direction: 'left',
            hoverEnabled: false
        });
    });

    //$(document).ready(function () {
    //    $('input#input_text, textarea#textarea2').characterCounter();
    //}); 
</script>