<div id="quiz-page" style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180)); height: 100vh;">
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper" style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">
            <!-- <a href="#" class="brand-logo center">Icebreak-r</a>
            <ul id="nav-mobile" class="left ">
                <li><a href="sass.html"></a></li>
            </ul> -->
        </div>
    </nav>
    <div>

        <div class="container">
            <div class="row">
                <div class="center">
                    <img src="images/loginimage.png" class="responsive-img">
                </div>
                <h4 class="center white-text">Sign up and start chatting</h4>
            </div>


        </div>

        <div id="interact-5c80ace2dd4c5700146c9a75"></div>
        <script
            type="text/javascript">var app_5c80ace2dd4c5700146c9a75; (function (d, t) { var s = d.createElement(t), options = { "appId": "5c80ace2dd4c5700146c9a75", "aspect_ratio": "100%", "async": true, "host": "quiz.tryinteract.com", "no_cover": true, "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5c80ace2dd4c5700146c9a75 = new InteractApp(); app_5c80ace2dd4c5700146c9a75.initialize(options); app_5c80ace2dd4c5700146c9a75.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
    </div>