<div
    style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180)); height: 100% width: 100%; overflow: hidden;">
    <div class="row">
        <div class="center" style="margin-top: 1em">
            <img src="/images/icebreakr-logo-v2-01.svg" style="width: 25%; transform: scale(1)">
        </div>
    </div>
    <div class="main-container #fafafa grey lighten-5"
        style="margin-top: 7em; min-height: 100vh; padding-bottom: .5em;">
        <div class="z-depth-3"
            style="border-radius: 50%; overflow: hidden; height: 8em; width: 8em;margin-top: -5em; position: absolute;left: 50%;margin-left: -4.5em;">
            <!-- Avatar -->
            <img class="avator" src="./images/RandomAnimals_panda.svg" alt="Avatar"
                style="width: 100%; transform: scale(1.1)">
        </div>
        <div class="spacer" style="height: 2.8em;"> </div>
        <div class="userInfo">
            <!-- UserInfo -->
            <p id="displayName" class="center-align ">User Name</p>
            <p id="actualName" class="center-align " style="margin-top:-15px; color: turquoise; font-size: 10px;">aka
                <span id="actualName" style="font-size: 13px;color: black;"> hello</span> </p>
        </div>





        <!-- Messages -->
        <div class="container #ffffff white z-depth-1 animate1" style=" padding-top: 1em; color: #386895; ">

            <div class="row valign center" style="  border-bottom: 3px solid #fafafa ; ">
                <p class="center-align">Messages</p>

                <div class="row inbox-bar"
                    style="padding-left: 10px;padding-right: 10px;  overflow: auto; white-space: nowrap;">
                    {{!-- <div style="border-radius: 50%; overflow: hidden; height: 4em; width: 4em; display:inline-block; margin-right: .5em;  ">
                        <!-- Avatar -->
                        <img src="./images/detective.png" alt="Avatar" id="test-ava" style="width: 100%; transform: scale(1.1); ">
                    </div>
                    <div style="border-radius: 50%; overflow: hidden; height: 4em; width: 4em; display:inline-block;  margin-right: .5em;   ">
                        <!-- Avatar -->
                        <img src="./images/astronaut.png" alt="Avatar" style="width: 100%; transform: scale(1.1)">
                    </div>
                    <div style="border-radius: 50%; overflow: hidden; height: 4em; width: 4em; display:inline-block;  margin-right: .5em;   ">
                        <!-- Avatar -->
                        <img src="./images/disc-jockey.png" alt="Avatar" style="width: 100%; transform: scale(1.1)">
                    </div> --}}

                </div>


            </div>


        </div>






        <!-- Group form -->
        <div id="groupButton" class="container #ffffff white z-depth-1 animate2"
            style="min-height: 12em; padding-top: 1em; color: #386895; ">
            <div style="border-radius: 50%; overflow: hidden; height: 7em; width: 7em; margin: auto ">
                <!-- Avatar -->
                <img src="./images/groupforum.png" alt="Avatar" style="width: 100%; transform: scale(1.1)">
            </div>
            <div class="row" style="  border-bottom: 3px solid #fafafa ; ">
                <p class="center-align">Group Forum</p>
                <p class="center-align"
                    style="padding-left: 15px; padding-right: 15px; font-size: 10px; margin-top: -10px;">Chat
                    with a bunch of people. Answer questions and meet meme-able people like yourself</p>
            </div>
            <div class="row" style=" margin-top: -1.5em;">
                <div class="col s6" style=" border-right: 3px solid #fafafa">
                    <p class="center-align" style=" font-size: 15px;">23</p>
                    <p class="center-align" style='font-size: 8px; margin-top: -15px;'>people around</p>
                </div>
                <div class="col s6">
                    <p class="center-align" style=" font-size: 15px;">2</p>
                    <p class="center-align" style='font-size: 8px; margin-top: -15px;'>people you know</p>
                </div>
            </div>

        </div>

        <!-- solo Chat -->
        <div class="container #ffffff white z-depth-1 animate3"
            style="min-height: 12em; padding-top: 1em; color: #386895; ">
            <div style="border-radius: 50%; overflow: hidden; height: 7em; width: 7em; margin: auto ">
                <!-- Avatar -->
                <img class="avator" src="./images/diver.png" alt="Avatar" style="width: 100%; transform: scale(1.1)">
            </div>
            <div class="row" style="  border-bottom: 3px solid #fafafa ; ">
                <p class="center-align">Solo Search</p>
                <p class="center-align"
                    style="padding-left: 15px; padding-right: 15px; font-size: 10px; margin-top: -10px;">
                    Answer a few questions and get matched with the purr-fect match
                </p>
            </div>
            <div class="row" style=" margin-top: -1.5em;">
                <div class="col s6" style=" border-right: 3px solid #fafafa">
                    <p class="center-align" style=" font-size: 15px;">4</p>
                    <p class="center-align" style='font-size: 8px; margin-top: -15px;'>people looking</p>
                </div>
                <div class="col s6">
                    <p class="center-align" style=" font-size: 15px;">2</p>
                    <p class="center-align" style='font-size: 8px; margin-top: -15px;'>Surveys Taken</p>
                </div>
            </div>

        </div>






        <!-- calander -->
        <div class="container #ffffff white z-depth-1 animate4"
            style="min-height: 12em; padding-top: 1em; color: #386895; ">
            <div style="border-radius: 50%; overflow: hidden; height: 7em; width: 7em; margin: auto ">
                <!-- Avatar -->
                <img src="./images/event.png" alt="Avatar" style="width: 100%; transform: scale(1.1)">
            </div>
            <div class="row" style="  border-bottom: 3px solid #fafafa ; ">
                <p class="center-align">Set up Event</p>
                <p class="center-align"
                    style="padding-left: 15px; padding-right: 15px; font-size: 10px; margin-top: -10px;">
                    Set up an event in your area. A social meetup or hangout with people.
                </p>
            </div>

        </div>


        <!-- Logout -->
        <div id="logiut-btn" class="container #ffffff white z-depth-1 animate5"
            style=" padding-top: 1em; color: #386895; ">

            <div class="row" style="  border-bottom: 3px solid #fafafa ; ">
                <p class="center-align">Log Out</p>

            </div>

        </div>

    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/inbox.js"></script>