<div id="option-page">
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper" style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">
            <a href="#" class="brand-logo center">Icebreak-r</a>
            <ul id="nav-mobile" class="left ">
                <li><a href="#">Profile</a></li>
            </ul>
        </div>
    </nav>

    <div style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">
        <div class="container">
            <h2 class="center" style="color: white;">Select Your Icebreaking choice:</h2>
        </div>
        <div class="main-container" style="background: white;">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="center">
                            <img src="images/group.png" class="circle responsive-img">
                            <div class="card-title">Group Forum</div>
                        </div>

                        <div class="card-content">
                            <p class="center">Chat with a bunch of people. Answer questions and meet meme-able people
                                like
                                yourself</p>
                        </div>

                        <div class="card-action">
                            <div class="row">
                                <div class="col s5">
                                    <h6 class="center">23</h6>
                                    <h6 class="center">People Around</h6>
                                </div>
                                <div class="col s2">
                                    <h6 class="center">|</h6>
                                </div>
                                <div class="col s5">
                                    <h6 class="center">4</h6>
                                    <h6 class="center">People you know</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card">
                            <div class="center">
                                <img src="images/solo.png" class="circle responsive-img">
                                <div class="card-title">Solo Search</div>
                            </div>
                            <div class="card-content">
                                <p class="center">Answer a few questions and get matched with the purr-fect match</p>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col s5">
                                        <h6 class="center">4</h6>
                                        <h6 class="center">People Looking</h6>
                                    </div>
                                    <div class="col s2">
                                        <h6 class="center">|</h6>
                                    </div>
                                    <div class="col s5">
                                        <h6 class="center">2</h6>
                                        <h6 class="center">Surveys taken</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card">
                            <div class="center">
                                <img src="images/event.png" class="circle responsive-img">
                                <div class="card-title">Setup Event</div>
                            </div>
                            <div class="card-content">
                                <p class="center">Set up an event in your area. A social meetup or hangout with people.
                                </p>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col s5">
                                        <h6 class="center">3</h6>
                                        <h6 class="center">Students around</h6>
                                    </div>
                                    <div class="col s2">
                                        <h6 class="center">|</h6>
                                    </div>
                                    <div class="col s5">
                                        <h6 class="center">0</h6>
                                        <h6 class="center">People you know</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card">
                            <div class="center">
                                <img src="images/school.png" class="circle responsive-img">
                                <div class="card-title">School Meetup</div>
                            </div>
                            <div class="card-content">
                                <p class="center">Find other students in your area</p>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col s5">
                                        <h6 class="center">23</h6>
                                        <h6 class="center">People Around</h6>
                                    </div>
                                    <div class="col s2">
                                        <h6 class="center">|</h6>
                                    </div>
                                    <div class="col s5">
                                        <h6 class="center">4</h6>
                                        <h6 class="center">People you know</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>