.list-group-item {
  line-height: 2.5;
}
.chat-body {
  background-color:blue;
}

.card.horizontal .card-image img {
  max-width: 100%;
  width: auto;
}
.from-chat .col, .too-chat .col {
  padding: 0;
}
.row.from-chat {
  padding-right: 10%;
}
.row.too-chat {
  padding-left:10%;
}
.card-image img {
  min-width: 70px;
}

.fixed-action-btn {
  position: absolute;
  right: 23px;
  bottom: -27px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}
#chat-page {
  background: rgb(2,0,36);
  background: linear-gradient(48deg, rgb(107, 205, 235) ,rgb(3, 110, 180));
  
}
#chat-input {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9000;
  margin-bottom: 0;
  padding-bottom: 0;
}
.logged-out .card.horizontal {
  background-color: #74bcef;
  color: #378abd;
}
.too-chat .col .card.horizontal {
  border-radius: 30px 0 0 30px;
}

.from-chat .col .card.horizontal {
  border-radius: 0 30px 30px 0;
}

a.btn-floating.btn-large.options-btn  {
  background: linear-gradient(to right, #FFCD57 ,#FF9857);
}
.incoming-question {
  padding:0 10%;
  background: linear-gradient(to right, #FFCD57 ,#FF9857);
}
.incoming-question .card {
  background-color: transparent!important;
  border: none;
}
.incoming-question .card .card-content {
  box-shadow: none;
}
.guesses {
  min-height:100px;
  background-color:#fff;
  border-radius: 20px;
  padding:2%;
  margin:3%;
}
.vote-icon {
  width:40px;
}
.licorice.guesses {
  background-color: transparent;
}